<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4 ">
    {{!-- app.use(express.json()); --}}
    <h1>Thêm sản phẩm</h1>
    <form method="POST" action="/admin/product/add" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Tên sản phẩm: </label>
                            <input type="text" class="form-control" id="name" name="name" value="" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="sku">Mã sản phẩm: </label>
                            <input type="text" class="form-control" id="sku" name="sku" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="price">Giá bán: </label>
                            <input type="number" class="form-control" id="price" name="price" value="" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="discount">Giá giảm: </label>
                            <input type="number" class="form-control" id="discount" name="discount" value="">
                        </div>
                    </div>
                </div>
                    {{!-- --}}
                    <div class="col-md-6 mt-3">
                        <div class="form-group">
                            <label>Thông số kỹ thuật: </label>
                            <div id="new_input">
                                <div class="input-group ">
                                    <input type="text" name="parameters[0][name]" placeholder="Tên thông số"
                                        style="width: 200px">
                                    <input type="text" name="parameters[0][value]" placeholder="Giá trị"
                                        class="form-control">
                                    <span class="input-group-text btn btn-outline-success" id="rowAdder"
                                        style="cursor: pointer">Thêm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- --}}
                <div class="form-group mt-3">
                    <label for="content">Nội dung: </label>
                    <div class="border">
                        <textarea class="form-control editor" id="content" name="content" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="trademark">Thương hiệu: </label>
                    <select class="form-control" id="trademark" name="trademark" required>
                        <option value="">--Lựa chọn--</option>
                        {{#each trademarks}}
                        <option value="{{this.trademark}}">{{this.trademark}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label for="category">Danh mục: </label>
                    <select class="form-control" id="category" name="category" required>

                        <option value="">--Lựa chọn--</option>
                        {{#each categories}}
                        <option value="{{this.category}}">{{this.category}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group mt-3">
                    <label for="image">Ảnh</label><br />
                    <input type="file" class="form-control-file" id="image" name="image" required>
                </div>
            </div>
        </div>
        <div class="form-group mt-3 mb-5">
            <button type="submit" class="btn btn-success">Thêm sản phẩm</button>
            <a href="/admin/product" class="btn btn-secondary">Hủy</a>
        </div>
    </form>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        let counter = 1; // Bắt đầu từ 1 vì đã có 1 phần tử
        
        $("#rowAdder").click(function() {
            const newRow = `
            <div class="input-group mt-2">
                <input type="text" name="parameters[${counter}][name]" placeholder="Tên thông số" style="width: 200px">
                <input type="text" name="parameters[${counter}][value]" placeholder="Giá trị" class="form-control">
                <span class="input-group-text btn btn-outline-danger" style="cursor: pointer" 
                      onclick="$(this).parent().remove()">xóa</span>
            </div>
            `;
            
            $("#new_input").append(newRow);
            counter++;
        });
    });
</script>