<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4">
    <div class="container mt-5">
        <h1>Bảng điều khiển</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Tổng số đơn hàng</div>
                    <div class="card-body">
                        <h5>
                            10
                        </h5>
                        <p class="card-text">Số lượng đơn hàng đã được xử lý.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Tổng số khách hàng</div>
                    <div class="card-body">
                        <h5 class="">
                            100
                        </h5>
                        <p class="card-text">Số lượng khách hàng đã đăng ký.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>