
<div class="box-login">
    <div class="container-login">
        <div class="login">
            <div class="left-side">
                <h1>Đăng nhập</h1>
            </div>
            <div class="right-side">
                <form method="POST" action="/auth/login">
                    <input type="email" placeholder="Email" name="email" required />
                    <input type="password" placeholder="Password" name="password" required />
                    <button type="submit">Đăng nhập</button>
                </form>
            </div>
            <div>
                <p style="padding-top: 1rem;">Bạn chưa có tài khoản.<a href="/auth/register">Đăng kí</a></p>
            </div>
        </div>
    </div>
</div>