<header class="header">
    <div class="container header__inner">
        <a href="/" class="logo">
            <span class="logo__text">THANHDAT</span>PC
        </a>
        <nav class="header__menu">
            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">
                        Sự kiện
                    </a>
                </li>
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">
                        Blog
                    </a>
                </li>
                <li class="header__menu-item">
                    {{#if existingUser}}
                    <a href="/cart/basket" class="header__menu-link">
                        Giỏ hàng
                    </a>
                    {{else}}
                    <a href="/auth/register" class="header__menu-link">
                        Đăng kí
                    </a>
                    {{/if}}

                </li>
                <li class="header__menu-item dropdown">
                    {{#if existingUser}}
                    <a href="#" class="nav-link dropdown-toggle btn btn--border  btn--rounded" type="button"
                        id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        {{existingUser.name}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end mt-2 shadow" aria-labelledby="dropdownMenu2">
                        <li><a class="dropdown-item px-5 py-3 fs-2" type="button" href="/">Thông tin tài khoản</a></li>
                        <li>
                            <form action="/auth/logout" method="POST" class="d-inline">
                                <button class="dropdown-item px-5 py-3 fs-2" type="submit">Đăng xuất</button>
                            </form>
                        </li>
                    </ul>
                    {{else}}
                    <a href="/auth/login" class="header__menu-link btn btn--border btn--rounded">
                        Đăng nhập
                    </a>
                    {{/if}}

                </li>
            </ul>
        </nav>
    </div>
</header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>