<style>
    .logo {
        font-size: 2.5rem;
        font-weight: 600;
        color: #1a2b5f;
        transition: 0.4s;
    }

    .logo__text {
        color: #ffc87a;
    }

    .logo:hover {
        transform: scale(1.1);
        transition: 0.35s;
    }
</style>
<nav class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link logo" href="/"><i class="fa-solid fa-house"></i><span class="logo__text">
                        THANHDAT</span>PC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if (eq currentPath '/dashboard')}}active{{/if}}" href="/admin/dashboard"><i
                        class="fa-solid fa-bars-progress"></i> Bảng điều khiển</a>
            </li>

            <!-- Quản lý sản phẩm -->
            <li class="nav-item">
                <a class="nav-link {{#if (eq currentPath '/product')}}active{{/if}}" href="/admin/product"><i
                        class="fa-brands fa-product-hunt"></i> Quản lý sản phẩm</a>
                {{!-- <a
                    class="nav-link {{#if (or (eq currentPath '/product') (eq currentPath '/add-product'))}}active{{/if}} "
                    data-bs-toggle="collapse" href="#productMenu" role="button" aria-expanded="false"
                    aria-controls="productMenu">
                    <i class="fa-brands fa-product-hunt"></i> Quản lý sản phẩm
                </a> --}}
                {{!-- <ul id="productMenu" class="collapse {{#if (eq parentPath '/admin/product')}}show{{/if}}">
                    <li><a class="nav-link" href="/admin/product">Danh sách sản phẩm</a></li>
                    <li><a class="nav-link " href="/admin/add-product">Thêm sản phẩm</a></li>
                </ul> --}}
            </li>

            <li class="nav-item">
                <a class="nav-link {{#if (eq currentPath '/category')}}active{{/if}}" href="/admin/category"><i
                        class="fa-solid fa-list"></i> Quản lý danh mục</a>
            </li>

            <li class="nav-item">
                <a class="nav-link {{#if (eq currentPath '/trademark')}}active{{/if}}" href="/admin/trademark"><i
                        class="fa-regular fa-copyright"></i> Quản lý thương hiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if (eq currentPath '/customer')}}active{{/if}}" href="/admin/customer"><i
                        class="fa-solid fa-users-viewfinder"></i> Quản lý
                    khách hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if (eq currentPath '/order')}}active{{/if}}" href="/admin/order"><i
                        class="fa-solid fa-cart-shopping"></i> Quản lý đơn
                    hàng</a>
            </li>
            <li class="nav-item">
                <form action="/auth/logout" method="POST">
                    <button class="dropdown-item nav-link" type="submit"><i class="fa-solid fa-right-from-bracket"></i>
                        Đăng xuất</button>
                </form>
            </li>

            <p>{{currentPath}}</p>
        </ul>
    </div>
</nav>